#raza1 {
    background-image: url(./Media/Images/Affenpinscher.jpg);
}

#raza2 {
    background-image: url(./Media/Images/AfghanHound.jpg);
}

#raza3 {
    background-image: url(./Media/Images/Africanis.jpg);
}

#raza4 {
    background-image: url(./Media/Images/Aidi.jpg);
}

#raza5 {
    background-image: url(./Media/Images/AiredaleTerrier.jpg);
}

#raza6 {
    background-image: url(./Media/Images/Akbash.jpg);
}

#raza7 {
    background-image: url(./Media/Images/Akita.jpeg);
}

#raza8 {
    background-image: url(./Media/Images/AksarayMalaklisi.jpg);
}

#raza9 {
    background-image: url(./Media/Images/AlanoEspanol.jpg);
}

.raza-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
