/* Colores */
* {
    --naranja: #DC6B19;
    --verdeOscuro: #2C7865;
    --verdeClaro: #90D26D;
    --verdeMuyClaro: #D9EDBF;

    --blanco:#ffffff;

    --v1: #D3EBC0;
    --v2: #E0EB98;
    --v3: #BDEA99;
    --v4: #EBE498;

    font-family: 'Courier New', Courier, monospace;
}

/* * {
    outline: auto;
} */



                                                                    /* HEADER */

header {
    background-image: url(/Media/Background/Puppies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 20vw;
}

header {
    display: flex;
    flex-flow: column;

    justify-content: space-between;
    align-items: center;
}

/* .logo-container {
    height: 50%;
} */

.logo {
    /* margin-top: 10vh; */
    color: var(--v3);

    /* text-shadow: -2px 0 1px var(--v4), 0 2px 1px var(--v4), 2px 0 1px var(--v4), 0 -2px 1px var(--v4); */
    transition: 0.5s;
    font-size: 8vw;
}

.logo {
    cursor: pointer;
    user-select: none;
}

nav {
    width: 100%;
    height: 5vh;
    display: flex;

    margin-top: -8vh;
}

nav div{
    margin: 1vw;

    color: var(--v4);
    font-weight: bold;

    cursor: pointer;
    user-select: none;

    transition: 0.5s;
}

nav a {
    color: var(--v4);
}

                                                                /* MAIN */

main {
    display: flex;
    justify-content: center;

    margin-top: 5vh;
}

#razas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de tamaño flexible */
    grid-gap: 50px;
}


                                                            /* CARDS */

.raza-card {
    width: 300px;
    height: 350px;

    border-radius: 10px;
    display: flex;
    flex-flow: column;
}

.raza-card {
    box-shadow: 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040;
}

.raza-img {
    width: 100%;
    height: 60%;
    margin-bottom: 1rem;

    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 5px 0px #00000040;
}

.raza-title {
    margin-left: 0.5rem;
}

.raza-nat {
    margin-left: 0.5rem;
}

                                                                    /*  CONTACT FORM */

section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;

    width: 100%;
    height: 25rem;
}

.contact-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: var(--v2);
    box-shadow: 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040, 0px 0px 10px 3px #00000040;
}

.contact-container {
    height: 80%;
    border-radius: 20px;
    padding: 1rem;
}

form {
    display: flex;
    flex-flow: column;
}

input {
    margin: 0.5rem;
}

                                                                /*  FOOTER */

footer {
    margin-top: 3rem;
    padding: 1rem;

    background-color: var(--v3);

    text-align: center;
}

span {
    font-size: small;
}

a {
    text-decoration: none;
}